*{
    margin: 0;
    padding: 0;
}
#container{
    width: 100%;
    height: 300px;
    background-color: #ff9900;
}
h2{
    padding: 15px;
}

form{
    height: 1100px;
    background-color: antiquewhite;
}